$mdc-theme-primary: #238dc1;
$mdc-theme-secondary: #d3d655;
$mdc-theme-on-primary: #000;
$mdc-theme-on-secondary: #000;

@import "@material/button/mdc-button";
@import "@material/dialog/mdc-dialog";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/select/mdc-select";
@import "@material/textfield/mdc-text-field";
@import "@material/typography/mdc-typography";

form {
    padding: 10px;

    #request-type,
    #request-details,
    #contact,
    #address,
    #address2,
    #name,
    #location,
    #time-wrapper,
    #submit {
        width: 100%;
        margin: 5px 0;
    }

    #name {
        display: inline-block;

        &>div {
            width: 100%;
        }

        #first-name {
            margin-bottom: 5px;
        }

        #last-name {
            margin-top: 5px;
        }

    }

    #contact {
        display: inline-block;

        &>div {
            width: 100%;
        }

        #phone {
            margin-bottom: 5px;
        }

        #email {
            margin-top: 5px;

        }
    }

    #location {
        display: inline-block;

        &>div {
            width: 100%;
        }

        #city {
            margin-bottom: 5px;
        }

        #state {
            margin: 5px 0;
        }

        #postcode {
            margin-top: 5px;
        }

    }

    #time-wrapper {
        display: inline-block;

        div {
            float: left;
        }

        #preferred-time {
            width: 40%;
            margin-right: 1%;
        }

        #time-hour {
            width: 18%;
            margin: 0 1%;
        }

        #time-minute {
            width: 18%;
            margin: 0 1%;
        }

        #meridiem {
            width: 18%;
            margin-left: 1%;
        }
    }

    #submit {
        z-index: 1000;
    }
}

form[min-width~="360px"] {
    #location {
        #state {
            float: left;
            width: 69.25%;
            margin: 5px .75% 0 0;
        }

        #postcode {
            float: right;
            width: 29.25%;
            margin: 5px 0 0 .75%;
        }
    }
}

form[min-width~="500px"] {
    #name {
        &>div {
            width: 49.5%;
        }

        #first-name {
            float: left;
            margin-right: .25%;
            margin-bottom: 0;
        }

        #last-name {
            float: right;
            margin-left: .25%;
            margin-top: 0;
        }

    }

    #contact {
        #phone {
            width: 29.5%;
            float: left;
            margin: 0 .5% 0 0;
        }

        #email {
            width: 69.5%;
            float: right;
            margin: 0 0 0 .5%;
        }

        margin: 0;
    }


    #time-wrapper {
        display: inline-block;

        div {
            float: left;
        }

        #preferred-time {
            width: 40%;
            margin-right: .5%;
        }

        #time-hour {
            width: 19%;
            margin: 0 .5%;
        }

        #time-minute {
            width: 19%;
            margin: 0 .5%;
        }

        #meridiem {
            width: 19%;
            margin-left: .5%;
        }
    }
}

form[min-width~='800px'] {
    #location {
        &>div {
            float: left;
        }

        #city {
            width: 38%;
            margin-right: .5%;
            margin-bottom: 0;
        }

        #state {
            width: 38%;
            margin: 0 .5%;
        }

        #postcode {
            width: 22%;
            margin-left: .5%;
            margin-top: 0;
        }
    }
}



.mdc-select {
    @include mdc-select-outline-shape-radius(10px);
}

.mdc-text-field {
    @include mdc-text-field-outline-shape-radius(10px);
}