$mdc-theme-primary: #238dc1;
$mdc-theme-secondary: #d3d655;
$mdc-theme-on-primary: #fff;
$mdc-theme-on-secondary: #000;
$mdc-theme-background: #212121;

@import '@material/slider/mdc-slider';
@import "@material/dialog/mdc-dialog";
@import "@material/icon-button/mdc-icon-button";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

#modal {
    @include mdc-dialog-min-width(80%);
}

#modal-content {
    width: 90%;

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: $mdc-theme-primary;
    }

    ::-webkit-scrollbar-thumb {
        background: $mdc-theme-secondary;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: lighten($mdc-theme-secondary, 10%);
    }
}

#form-wrapper {
    overflow-x: hidden;
    position: relative;
}